# Default

/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Ignore Gemfile.lock, since this is a gem.

Gemfile.lock

# Ignore byebug history

.byebug_history
